@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "Belleza";
    color: #495566;
}

header {
    padding: 0 2%;
    height: 70px;
    background-color: #FBFDFF;
    box-shadow: 10px 5px 5px rgb(144, 158, 62, 0.2);
}

.logo {
    height: 50px;
}

.searchbar {
    width: 300px;
    padding: 15px;
    height: 35px;
    border-radius: 30px;
    border: none;
    color: #D2D2D2;
    font-family: "Poppins";
}
