.plant-details h1 {
    color: #36455A;
}

.plant-type {
    width: fit-content;
    padding: 0.25em 0.5em;
    color: #fff;
    background-color: #909E3E;
    border-radius: 0.25rem;
}

.yellow {
    color: #FFCD00;
}

.plant a {
    font-family: "Poppins";
}

.circle {
    height: 30px;
    width: 30px;
    border: 1px solid rgb(255, 204, 0);
    border-radius: 50%;
}

.circle i {
    color: rgb(255, 204, 0);
}

