@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FBFDFF;
    padding: 0;
    margin: 0;
}

.bg-green-gradient {
    background: linear-gradient(285deg, rgba(206,214,157,1) 0%, rgba(144,158,62,1) 100%);
}

.hero {
    justify-content: start;
}

h1 {
    color: white;
}

h1, h2 {
    font-family: "Belleza";
}

.alert-success {
    background-color: rgba(144,158,62,1) ;
}